@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: green;
  font-family: 'IBM Plex Mono', monospace;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal.off {
  display: none;
}

.menu {
  border-radius: 15px;
  z-index: 10;
  background-color: rgb(123, 197, 239);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 5rem 3rem;
  gap: 10px;
}

.game-display {
  display: flex;
  justify-content: space-evenly;
  opacity: 1;
  transition: opacity 0.2s ease;
  /* background-color: red; */
  padding: 20px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.center-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

canvas {
  cursor: pointer;
}

.btn {
  border: 3px solid black;
  color: black;
  background-color: transparent;
  cursor: pointer;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.timeForMove {
  /* dodaj coś takiego że jak czas poniżej 3sekund to co 0.1s zmienia się opacity na 1 - 0.5 1 - 0.5 */
  opacity: 0.5;
}

.move-info {
  text-transform: uppercase;
  font-size: 2.25rem;
  background: #7f00ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e100ff,
    #7f00ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e100ff,
    #7f00ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game-title {
  background: #7f00ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e100ff,
    #7f00ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e100ff,
    #7f00ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.score-text {
  text-transform: uppercase;
  font-weight: lighter;
  opacity: 0.6;
  text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

.score-text.playing {
  opacity: 1;
}
